

<style>

  #chartdiv {
    width: 100%;
    height: 500px;
  }
  </style>

  <h2> pages/home.page</h2>

<% if !@current_user.present? %>

<% end %>


<% if @current_user.present? %>
<%= "You can see this after login" %>
<div id="chartdiv"></div>
<% end %>
