<h1>Country list</h1>
<ul>
<% @countries.each do |country| %>
<li>
  <%=link_to country.name.upcase, country_path(country)  %>:
  <% country.sights.each do |sight| %>
  <%= link_to sight.name,country_sight_path(country,sight) %>
  <% end %>
</li>
<% end %>
</ul>
