
<ul>

<h1><%= @country.name %></h1>

<div class="row">

  <% @country.sights.each do |sight| %>
  <div class="col-md-4">
    <a  class="thumbnail">
      <img src="<%= sight.image %>" alt="<%= sight.name %>"></a>
    <p><%= sight.info %></p>
    <p><a href="" class="btn btn-primary" role="button">Edit</a></p>
    </div>
    <% end %>




</div>
